body {
    background-image: url(../images/cantina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: antiquewhite;
    opacity: 0.70;
    height: 700px;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#gameTitle {
    margin-top: 50px;
    margin-bottom: 75px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 100px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 25px;
}

#timeRemaining {
    margin-bottom: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

#questionAsked {
    content: 25px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

#answerChoices {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

button {
    margin-top: 35px;
    height: 75px;
    width: 300px;
    font-size: 20px;
}

#submit {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    height: 75px;
    width: 250px;
}

label {
    font-size: 30px;
}